<div class="contact-main">
  <img alt="Open" class="icon-menu" src="https://s3.amazonaws.com/codecademy-content/projects/z2d/stories/menu-black.svg" width="24px" width="24px">
  <div class="content container">
    <h1>Thanks. We'll be in touch.</h1>
  </div>
</div>
